.loadingLogo {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_container {
    width: 100%;
    height: 100vh;
}

.loading_container {
    position: relative;
    width: 50%;
    height: 100vh;
    float: left;
}

.login_form {
    position: relative;
    width: 50%;
    height: 100vh;
    float: right;
}

.login_form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control {
    width: 320px;
    height: 40px;
    border-width: 3px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-login {
    width: 345px;
    height: 45px;
    font-size: 19px;
    border-radius: 1000px;
    border: none;
    outline: none;
    background-color: #f49074;
    color: white;
}

.btn-login:hover {
    background-color: #e05e3a;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}